
.container
  content goes in here

  .row
    .col.s12
      %h2 Typography
      %hr
      %h1 This heading is h1
      %h2 Heading of h2
      %h3 Heading for h3
      %h4 Here's another one for h4
      %h5 The H5 heading used for smaller stuff

.row
  .col.s8
    .collection
      .collection-item
        Mark Perry
      .collection-item
        Ian Norris
      .collection-item
        Sasha Samuelson
      .collection-item Rich Froning Jr.