!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
   %head
      %title "Styleguide Epicvisor"
      %link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/css/my_stylesheet"}  
%body
  %h1 this is styleguide